
@import url("https://fonts.googleapis.com/css2?family=Jost|Lora");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: "Lora", serif;
	font-size: 17px;
	margin: 0px;
}
h1, h2, h3 {
	font-family: "Jost", sans-serif;
	font-weight: bold;
	color: #3C5B6F;
}
h1 {
	font-family: "Jost", sans-serif;
	font-weight: 800;
	letter-spacing: 10px;
	font-size: 34px;
	text-transform: uppercase;
	text-align: center;
}
a {
	text-decoration: none;
}