.banner {
	background-image: url(../../images/background.jpeg);
	color: white;
	padding: 180px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 24px;
	font-weight: lighter;
	opacity: 1;
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn-blue {
	padding: 15px 20px;
}